[submodule "crates/vulkan_sys/Vulkan-Headers"]
	path = crates/vulkan_sys/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "crates/vulkan-memory-allocator-sys/VulkanMemoryAllocator"]
	path = crates/vulkan-memory-allocator-sys/VulkanMemoryAllocator
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "crates/vulkan_sys/VulkanMemoryAllocator"]
	path = crates/vulkan_sys/VulkanMemoryAllocator
	url = git@github.com:GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
